.testo-didascalia{
    font-size: 14px;
}

.testo-normale{
    font-size: 20px;
}

.super-testo{
    font-size: 60px;
    font-weight: 800;
}

#contenitore-logo {
    background-image: url(../img/pattern.png);
    background-size: auto;
    background-color: cornflowerblue;
    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 10px;
}

#image-logo{
    width: 15%;
}

.contenitore-foto{
    height: 500px;
}

.image-width {
    width: 49%;
    height: 100%;
}

.testo-evidenziato{
    background-color: yellow;
}

.tabella-main{
    width: 33%;
}

.testo-tabella{
    text-align: left;
}

.riga-azzurra {
    background-color: lightblue;
}

.riga-blu {
    background-color: darkblue;
    color: white;
}

.titolo-footer{
    color: lightslategray;
}

#graph-footer {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 22px;
    font-weight: 700;
    height: 200px;
    margin-bottom: 20px;
}

#monitor-footer {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 22px;
    font-weight: 700;
    height: 200px;
    margin-bottom: 15px;
}

.testo-immagini-footer{
    padding-left: 15px;
    padding-top: 20px;
}