.testo-didascalia{
    font-size: 14px;
}

.testo-normale{
    font-size: 20px;
}

.super-testo{
    font-size: 60px;
    font-weight: 800;
}

#contenitore-logo {
    background-image: url(../img/pattern.png);
    background-size: auto;
    background-color: cornflowerblue;
    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 10px;
}

#image-logo{
    width: 15%;
}

.contenitore-foto{
    height: 500px;
}

.image-width {
    width: 49%;
    height: 100%;
}

.testo-evidenziato{
    background-color: yellow;
}